<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <form action="/test" action="POST">
        <select name="ExamName" id="exam-name">
            <option value="111">TCS Nqt 2024</option>
            <option value="122">IIt Jam 2024</option>
        </select>
        <input type="text" name="SystemName" id="system" class="rsbar" placeholder="system Name (ex: C001)"><br>
        <input type="text" name="CandidateId" id="cid" class="rsbar" placeholder="Candidate id"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>