<div id="question">
    Choose the correct options among the following ahsbjhhjahjahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
    <div id="options">
    <input type="radio" name="" id=""><span>gavsgvav</span><br>
    <input type="radio" name="" id=""><span>vgvgvhgv</span><br>
    <input type="radio" name="" id=""><span>vvjn</span><br>
    <input type="radio" name="" id=""><span>bv</span>
</div>